{% extends "fsr_base.html" %}
{% block body %}
<body>
    <h4>丰收日数据库 - <strong>门店收入明细查询</strong></h4>
    <div class="container-fluid">
	<div class="row">
		<h5>数据日期: {{d}}</h5>
	</div>
	<div class="row">
		<h5>{{d}}收入净额:{{all_in}}万元</h5>
	</div>
        <div class="row">
            <table class="table table-responsive table-hover">
                <thead>
                    <tr class="info">
                        <th>店面</th>
                        <th>收入净额</th>
                        <th>消费人数</th>
                        <th>人均消费</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in ds %}
                    <tr>
                        <td>{{d[0]}} </td>
                        <td>{{d[1]}} </td>
                        <td>{{d[2]}} </td>
                        <td>{{d[3]}} </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</body>
{% endblock %}
