<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>丰收日</title>
        <meta name="description" content="" />
        <meta name="author" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        
        <link rel="stylesheet"" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}" />
        <link rel="stylesheet"" type="text/css" href="{{url_for('static', filename='css/bootstrap-theme.min.css')}}" />
    </head>
    {% block body %}{% endblock %}
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</script>
</html>