{% extends "fsr_base.html" %}
{% block body %}
<style>
    body {
        background-color: #eeeeee;
    }
</style>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/web"><strong>丰收日数据库-门店收入明细查询</strong></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                 <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <strong>选择日期</strong><span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/web/{{d[1]}}">{{d[1]}}</a></li>
                            <li><a href="/web/{{d[2]}}">{{d[2]}}</a></li>
                            <li><a href="/web/{{d[3]}}">{{d[3]}}</a></li>
                            <li><a href="/web/{{d[4]}}">{{d[4]}}</a></li>
                            <li><a href="/web/{{d[5]}}">{{d[5]}}</a></li>
                        </ul>
                    </li>
                 </ul>
            </div>
        </div>
    </nav>
    
    <div class="container">
        <div class="row">
            <table class="table table-bordered table-hover table-condensed">
                <caption><label>数据日期: {{d[0]}} </label> <label>收入净额: <span class="label label-danger label-lg">{{all_in}}</span> 万元</label></caption>
                <thead>
                    <tr class="info">
                        <th style = "text-align: left;">店面</th>
                        <th style = "text-align: right;">收入净额</th>
                        <th style = "text-align: right;">消费人数</th>
                        <th style = "text-align: right;">人均消费</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in ds %}
                    {% if d[4] %}
                        <tr class="danger">
                    {%else%}
                        <tr>
                    {%endif%}
                        <td style = "text-align: left;"><strong>{{d[0]}}</strong></td>
                        <td style = "text-align: right;">{{d[1]}}</td>
                        <td style = "text-align: right;">{{d[2]}}</td>
                        <td style = "text-align: right;">{{d[3]}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</body>
{% endblock %}
